@charset "utf-8";
/* CSS Document */
.tb{
	background-color:#E8E243;
	border: 2px #000000;
	padding: 15px;
	text-align: center;
	margin: 20px 5px;
	width: 600px;
}
#texto1{
	text-shadow: 5px 5px 10px #64FE2E;
	font: bold 30px Trebuchet MS;
	width: 100%
}
#texto2{
	text-shadow: 5px 5px 10px #00CC00;
	font: bold 40px Trebuchet MS;
	width: 100%;
}